
.column {
    float: left;
    width: 40%;
    padding: 15px;
    margin-top: 150px;
  
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.video {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width:85%;
    height: 350px;
    margin: 100px 80px;
    background-image: url(../icons-kopi/videoer.png);
    background-size: cover;
    
   
}

.kit {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 80px;
    background-image: url(../icons-kopi/kits.png);
    background-size: cover;
}
.upload {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 85px;
    background-image: url(../icons-kopi/uploadditeget.png);
    background-size: cover;
}

.blog {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 85px;
    background-image: url(../icons-kopi/bloggen.png);
    background-size: cover;
}

.design {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 85px;
    background-image: url(../icons-kopi/designditeget.png);
    background-size: cover;
}

.kategori {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 85px;
    background-image: url(../icons-kopi/kategori.png);
    background-size: cover;
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 90%;
}

#container{
    min-height: 23%;
}

#main{
    overflow: auto;
    padding-bottom: 100px;
}

#footer{
    background-color: #DFC0D9;
    position: relative;
    height: 150px;
    margin-top: -150px;
    clear: both;
    
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}.popup

.icon-bar a:hover {
  background-color: #BF81B4;
}

.active {
  background-color: #74476B;

}

.container {
    position: relative;
    width: 50%;
}

image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
	position:relative;
	display: none;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

.text {
	color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
        -webkit-transform:
    translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}












