
.column {
    float: left;
    width: 40%;
    padding: 10px;
    margin-top: 200px;
  
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.video {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width:85%;
    height: 350px;
    margin: 100px 80px;
    background-image: url(../icons-kopi/);
    background-size: cover;
    
   
}

.kit {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 80px;
    background-image: url(../icons-kopi/kits.png);
    background-size: cover;
}
.upload {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 85px;
    background-image: url(../icons-kopi/);
    background-size: cover;
}

.blog {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 85px;
    background-image: url(../icons-kopi/bloggen.png);
    background-size: cover;
}

.design {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 85px;
    background-image: url(../icons-kopi/designditeget.png);
    background-size: cover;
}

.kategori {
    border-radius: 15px;
    border: 1px solid grey;
    padding: 15px;
    width: 85%;
    height: 350px;
    margin: 100px 85px;
    background-image: url(../icons-kopi/kategori.png);
    background-size: cover;
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

#container{
    min-height: 20%;
}

#main{
    overflow: auto;
    padding-bottom: 100px;
}

#footer{
    background-color: #DFC0D9;
    position: relative;
    height: 150px;
    margin-top: -150px;
    clear: both;
    
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #BF81B4;
}

.active {
  background-color: #74476B;

}
