* {
margin: 0; 
padding: 0; 
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600,700i,800');
font-family: 'Montserrat', sans-serif;
}

section {
width: 100%; 
height: 1000px; 
float: left;
    
}

#pageA {
background: whitesmoke;
}
#pageB {
background:whites;
}
#pageC {
background: whitesmoke;
}
#pageD {
background: white;
}
#pageE {
background: whitesmoke;
}

#pageF{
    background: white;
}

.logo {
    position:absolute;
    top:200%;
    left:34%;
    height: 300px;
    width:400px;
    
}

.farve1 {
    position:absolute;
    top:380%;
    left: 28%;
    height: 120px;
    width: 230px;
    background-color: #BF81B4;
    
}

    p {
    top: 400%;
    left: 28%;
    position: absolute;
    font-family: signika;
}

.farve2 {
    position:absolute;
    top:380%;
    left: 54%;
    height: 120px;
    width: 230px;
    background-color: #585D5B;
    
}

    p1 {
    top: 400%;
    left: 54%;
    position: absolute;
    font-family: signika;
    }


.farve3 {
    position:absolute;
    top:410%;
    left: 28%;
    height: 120px;
    width: 230px;
    border: 1px solid lightgray;
    background-color: white;
    
}

    p2 {
    top: 430%;
    left: 28%;
    position: absolute;
    font-family: signika;
    }


.farve4 {
    position:absolute;
    top:410%;
    left: 54%;
    height: 120px;
    width: 230px;
    background-color: #59B08D;
    
}

    p3 {
    top: 430%;
    left: 54%;
    position: absolute;
    font-family: signika;
    }


.img1 {
    top: 530%;
    left: 28%;
    position: absolute;
    height: 330px;
    width: 330px;
}

.img2 {
    top: 540%;
    left: 54%;
    position: absolute;
    height: 200px;
    width: 250px;
}

p4 {
    top:570%;
    left:30%;
    position: absolute;
    font-family: signika;
    font-size: 20px;
}

.glad {
    position:absolute;
    top:700%;
    left: 28%;
    height: 120px;
    width: 230px;
    font-family: signika;
    font-size:30px;
   
    
}

p5{ 
    top:707%;
    left:28%;
    position: absolute;
    font-family: signika;
    font-size: 15px;
    

}


.rolig {
    position:absolute;
    top:700%;
    left: 54%;
    height: 120px;
    width: 230px;
    font-family: signika;
    font-size:30px;
    
}


p6{ 
    top:707%;
    left:54%;
    position: absolute;
    font-family: signika;
    font-size: 15px;

}

.pro {
    position:absolute;
    top:725%;
    left: 28%;
    height: 120px;
    width: 230px;
    font-family: signika;
    font-size:30px;
    
}

p7{ 
    top:733%;
    left:28%;
    position: absolute;
    font-family: signika;
    font-size: 15px;

}

.knapperimg {
    top: 870%;
    left: 28%;
    position: absolute;
    height: 100px;
    width: 300px;

}

.knapimg {
    top: 870%;
    left: 54%;
    position: absolute;
    height: 100px;
    width: 230px;

}

p8{ 
    top:888%;
    left:28%;
    position: absolute;
    font-family: signika;
    font-size: 15px;

}

.bølgerimg {
    top: 905%;
    left: 28%;
    position: absolute;
    height: 230px;
    width: 230px;
}

.bladimg {
    top: 905%;
    left: 54%;
    position: absolute;
    height: 230px;
    width: 230px;
}

.murimg {
    top: 945%;
    left: 28%;
    position: absolute;
    height: 230px;
    width: 230px;
}

.blomstimg {
    top: 945%;
    left: 54%;
    position: absolute;
    height: 230px;
    width: 230px;
}


nav{
width: 100%; 
position: fixed;
z-index: 1;
top: 80px;}

ul{
width:fit-content; 
margin: auto; 
list-style: none;
}

ul li{
float: left; 
margin-right: 
30px;
}

ul li a{
color: black; 
text-decoration: 
none;
    font-family: signika;
}

ul li a:hover{
text-decoration:
none;
    
}

h1{
color: black; 
text-align: center; 
margin-top:150px;
}

.headcenter{
text-align: center;
}

h1{
    font-size: 40px;
    font-family: signika;
    font-weight: lighter;
}